<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.BossShiroUserMapper">
    <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.BossShiroUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="tel_no" jdbcType="VARCHAR" property="telNo"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="theme" jdbcType="VARCHAR" property="theme"/>
        <result column="create_operator" jdbcType="VARCHAR" property="createOperator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_pwd_time" jdbcType="TIMESTAMP" property="updatePwdTime"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, user_name, password, real_name, tel_no, email, status, theme, create_operator,
         create_time, update_pwd_time, dept_id
  </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from boss_shiro_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.huobi.quantification.entity.BossShiroUser">
    insert into boss_shiro_user (id, user_name, password, 
      real_name, tel_no, email, 
      status, theme, create_operator, 
      create_time, update_pwd_time, dept_id
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{telNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{theme,jdbcType=VARCHAR}, #{createOperator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updatePwdTime,jdbcType=TIMESTAMP}, #{deptId,jdbcType=INTEGER}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.BossShiroUser">
    update boss_shiro_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      tel_no = #{telNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      theme = #{theme,jdbcType=VARCHAR},
      create_operator = #{createOperator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_pwd_time = #{updatePwdTime,jdbcType=TIMESTAMP},
      dept_id = #{deptId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_name, password, real_name, tel_no, email, status, theme, create_operator, 
    create_time, update_pwd_time, dept_id
    from boss_shiro_user
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_name, password, real_name, tel_no, email, status, theme, create_operator, 
    create_time, update_pwd_time, dept_id
    from boss_shiro_user
  </select>

    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boss_shiro_user
        <where>
            <if test="userName != null">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="realName != null">
                and real_name = #{realName,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="telNo != null">
                and tel_no = #{telNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>