<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanAccountFutureMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.QuanAccountFuture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="exchange_id" jdbcType="INTEGER" property="exchangeId" />
    <result column="account_source_id" jdbcType="BIGINT" property="accountSourceId" />
    <result column="accounts_type" jdbcType="VARCHAR" property="accountsType" />
    <result column="accounts_name" jdbcType="VARCHAR" property="accountsName" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quan_account_future
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huobi.quantification.entity.QuanAccountFuture">
    insert into quan_account_future (id, exchange_id, account_source_id, 
      accounts_type, accounts_name, state
      )
    values (#{id,jdbcType=BIGINT}, #{exchangeId,jdbcType=INTEGER}, #{accountSourceId,jdbcType=BIGINT}, 
      #{accountsType,jdbcType=VARCHAR}, #{accountsName,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.QuanAccountFuture">
    update quan_account_future
    set exchange_id = #{exchangeId,jdbcType=INTEGER},
      account_source_id = #{accountSourceId,jdbcType=BIGINT},
      accounts_type = #{accountsType,jdbcType=VARCHAR},
      accounts_name = #{accountsName,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, exchange_id, account_source_id, accounts_type, accounts_name, state
    from quan_account_future
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, exchange_id, account_source_id, accounts_type, accounts_name, state
    from quan_account_future
  </select>
</mapper>