<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanKlineMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.QuanKline">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="exchange_id" jdbcType="BIGINT" property="exchangeId" />
    <result column="tick_id" jdbcType="BIGINT" property="tickId" />
    <result column="kline_type" jdbcType="VARCHAR" property="klineType" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="high" jdbcType="DECIMAL" property="high" />
    <result column="open" jdbcType="DECIMAL" property="open" />
    <result column="low" jdbcType="DECIMAL" property="low" />
    <result column="close" jdbcType="DECIMAL" property="close" />
    <result column="count" jdbcType="DOUBLE" property="count" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="vol" jdbcType="DECIMAL" property="vol" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <insert id="insert" parameterType="com.huobi.quantification.entity.QuanKline">
    insert into quan_kline (id, exchange_id, tick_id, 
      kline_type, symbol, period, 
      size, high, open, low, 
      close, count, amount, 
      vol, ts)
    values (#{id,jdbcType=BIGINT}, #{exchangeId,jdbcType=BIGINT}, #{tickId,jdbcType=BIGINT}, 
      #{klineType,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, #{period,jdbcType=VARCHAR}, 
      #{size,jdbcType=BIGINT}, #{high,jdbcType=DECIMAL}, #{open,jdbcType=DECIMAL}, #{low,jdbcType=DECIMAL}, 
      #{close,jdbcType=DECIMAL}, #{count,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE}, 
      #{vol,jdbcType=DECIMAL}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, exchange_id, tick_id, kline_type, symbol, period, size, high, open, low, 
    close, count, amount, vol, ts
    from quan_kline
  </select>
</mapper>