<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanDepthFutureMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.QuanDepthFuture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="exchange_id" jdbcType="INTEGER" property="exchangeId" />
    <result column="base_coin" jdbcType="VARCHAR" property="baseCoin" />
    <result column="quote_coin" jdbcType="VARCHAR" property="quoteCoin" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="depth_ts" jdbcType="TIMESTAMP" property="depthTs" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quan_depth_future
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huobi.quantification.entity.QuanDepthFuture">
    insert into quan_depth_future (id, exchange_id, base_coin, 
      quote_coin, contract_code, contract_name, 
      depth_ts)
    values (#{id,jdbcType=BIGINT}, #{exchangeId,jdbcType=INTEGER}, #{baseCoin,jdbcType=VARCHAR}, 
      #{quoteCoin,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, 
      #{depthTs,jdbcType=TIMESTAMP})
  </insert>

    <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.QuanDepthFuture">
    update quan_depth_future
    set exchange_id = #{exchangeId,jdbcType=INTEGER},
      base_coin = #{baseCoin,jdbcType=VARCHAR},
      quote_coin = #{quoteCoin,jdbcType=VARCHAR},
      contract_code = #{contractCode,jdbcType=VARCHAR},
      contract_name = #{contractName,jdbcType=VARCHAR},
      depth_ts = #{depthTs,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, exchange_id, base_coin, quote_coin, contract_code, contract_name, depth_ts
    from quan_depth_future
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, exchange_id, base_coin, quote_coin, contract_code, contract_name, depth_ts
    from quan_depth_future
  </select>

  <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id">
         insert into quan_depth_future (id, exchange_id, base_coin,
        quote_coin, contract_code, contract_name,
        depth_ts)
      values (#{id,jdbcType=BIGINT}, #{exchangeId,jdbcType=INTEGER}, #{baseCoin,jdbcType=VARCHAR},
        #{quoteCoin,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR},
        #{depthTs,jdbcType=TIMESTAMP})
    </insert>
</mapper>