<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanDepthDetailMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.QuanDepthDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="depth_id" jdbcType="BIGINT" property="depthId" />
    <result column="detail_type" jdbcType="TINYINT" property="detailType" />
    <result column="detail_price" jdbcType="DECIMAL" property="detailPrice" />
    <result column="detail_amount" jdbcType="DECIMAL" property="detailAmount" />
    <result column="date_update" jdbcType="TIMESTAMP" property="dateUpdate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quan_depth_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huobi.quantification.entity.QuanDepthDetail">
    insert into quan_depth_detail (id, depth_id, detail_type, 
      detail_price, detail_amount, date_update
      )
    values (#{id,jdbcType=BIGINT}, #{depthId,jdbcType=BIGINT}, #{detailType,jdbcType=TINYINT}, 
      #{detailPrice,jdbcType=DECIMAL}, #{detailAmount,jdbcType=DECIMAL}, #{dateUpdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.QuanDepthDetail">
    update quan_depth_detail
    set depth_id = #{depthId,jdbcType=BIGINT},
      detail_type = #{detailType,jdbcType=TINYINT},
      detail_price = #{detailPrice,jdbcType=DECIMAL},
      detail_amount = #{detailAmount,jdbcType=DECIMAL},
      date_update = #{dateUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, depth_id, detail_type, detail_price, detail_amount, date_update
    from quan_depth_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, depth_id, detail_type, detail_price, detail_amount, date_update
    from quan_depth_detail
  </select>
</mapper>