<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanAccountFutureSecretMapper">
    <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.QuanAccountFutureSecret">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_source_id" jdbcType="BIGINT" property="accountSourceId"/>
        <result column="access_key" jdbcType="VARCHAR" property="accessKey"/>
        <result column="secret_key" jdbcType="VARCHAR" property="secretKey"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quan_account_future_secret
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.huobi.quantification.entity.QuanAccountFutureSecret">
    insert into quan_account_future_secret (id, account_source_id, access_key, 
      secret_key)
    values (#{id,jdbcType=BIGINT}, #{accountSourceId,jdbcType=BIGINT}, #{accessKey,jdbcType=VARCHAR}, 
      #{secretKey,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.QuanAccountFutureSecret">
    update quan_account_future_secret
    set account_source_id = #{accountSourceId,jdbcType=BIGINT},
      access_key = #{accessKey,jdbcType=VARCHAR},
      secret_key = #{secretKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, account_source_id, access_key, secret_key
    from quan_account_future_secret
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, account_source_id, access_key, secret_key
    from quan_account_future_secret
  </select>
    <select id="selectBySourceId" resultMap="BaseResultMap">
      select id, account_source_id, access_key, secret_key FROM quan_account_future_secret where account_source_id=#{id}
    </select>
</mapper>