<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanOrderMatchResultMapper">
	<resultMap id="BaseResultMap"
		type="com.huobi.quantification.entity.QuanOrderMatchResult">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_symbol" jdbcType="VARCHAR" property="orderSymbol" />
		<result column="order_field_amount" jdbcType="DECIMAL"
			property="orderFieldAmount" />
		<result column="order_field_fees" jdbcType="DECIMAL" property="orderFieldFees" />
		<result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
		<result column="order_source" jdbcType="VARCHAR" property="orderSource" />
		<result column="order_created_at" jdbcType="DATETIME" property="orderCreatedAt" />
		<result column="order_id" jdbcType="BIGINT" property="orderId" />
		<result column="match_id" jdbcType="BIGINT" property="matchId" />
		<result column="match_result_id" jdbcType="BIGINT" property="matchResultId" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		quan_order_match_result
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.huobi.quantification.entity.QuanOrderMatchResult">
		insert into quan_order_match_result (id, order_symbol,
		order_field_amount,order_field_fees, order_price,
		order_source,order_created_at, order_id,
		match_id, match_result_id
		)
		values
		(#{id,jdbcType=BIGINT}, 
		#{orderSymbol,jdbcType=VARCHAR},
		#{orderFieldAmount,jdbcType=DECIMAL},
		#{orderFieldFees,jdbcType=DECIMAL},
		#{orderPrice,jdbcType=DECIMAL},
		#{orderSource,jdbcType=VARCHAR},
		#{orderCreatedAt,jdbcType=DATETIME},
		#{orderId,jdbcType=BIGINT}, 
		#{matchId,jdbcType=BIGINT},
		#{matchResultId,jdbcType=BIGINT}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.QuanOrder">
		update
		quan_order_match_result
		set order_symbol =
		#{orderSymbol,jdbcType=VARCHAR},
		order_field_amount =
		#{orderFieldAmount,jdbcType=DECIMAL},
		order_field_fees =
		#{orderFieldFees,jdbcType=DECIMAL},
		order_price =
		#{orderPrice,jdbcType=DECIMAL},
		order_source =
		#{orderSource,jdbcType=VARCHAR},
		order_created_at =
		#{orderCreatedAt,jdbcType=DATETIME},
		order_id =
		#{orderId,jdbcType=BIGINT},
		match_id= #{matchId,jdbcType=BIGINT},
		match_result_id = #{matchResultId,jdbcType=BIGINT}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select id, order_symbol, order_field_amount,order_field_fees,
		order_price,order_source, order_created_at, order_id,
		match_id, match_result_id
		from quan_order_match_result
		where id =
		#{id,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, order_symbol,
		order_field_amount, order_field_fees,
		order_price,order_source,
		order_created_at,order_id,
		match_id, match_result_id
		from
		quan_order_match_result
	</select>
</mapper>