<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanAccountSecretMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.QuanAccountSecret">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="access_key" jdbcType="VARCHAR" property="accessKey" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quan_account_secret
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huobi.quantification.entity.QuanAccountSecret">
    insert into quan_account_secret (id, account_id, access_key, 
      secret_key)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{accessKey,jdbcType=VARCHAR}, 
      #{secretKey,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.QuanAccountSecret">
    update quan_account_secret
    set account_id = #{accountId,jdbcType=BIGINT},
      access_key = #{accessKey,jdbcType=VARCHAR},
      secret_key = #{secretKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, account_id, access_key, secret_key
    from quan_account_secret
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, account_id, access_key, secret_key
    from quan_account_secret
  </select>
</mapper>