<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.QuanKlineMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.QuanKline">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="exchange_id" jdbcType="INTEGER" property="exchangeId" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="high" jdbcType="DECIMAL" property="high" />
    <result column="open" jdbcType="DECIMAL" property="open" />
    <result column="low" jdbcType="DECIMAL" property="low" />
    <result column="close" jdbcType="DECIMAL" property="close" />
    <result column="count" jdbcType="DECIMAL" property="count" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="vol" jdbcType="DECIMAL" property="vol" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <insert id="insert" parameterType="com.huobi.quantification.entity.QuanKline">
    insert into quan_kline (id, exchange_id, symbol, 
      period, size, high, 
      open, low, close, count, 
      amount, vol, ts)
    values (#{id,jdbcType=BIGINT}, #{exchangeId,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, 
      #{period,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{high,jdbcType=DECIMAL}, 
      #{open,jdbcType=DECIMAL}, #{low,jdbcType=DECIMAL}, #{close,jdbcType=DECIMAL}, #{count,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{vol,jdbcType=DECIMAL}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, exchange_id, symbol, period, size, high, open, low, close, count, amount, 
    vol, ts
    from quan_kline
  </select>
</mapper>