<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.StrategyOrderConfigMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.StrategyOrderConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="contract_type" jdbcType="VARCHAR" property="contractType" />
    <result column="place_order_interval" jdbcType="INTEGER" property="placeOrderInterval" />
    <result column="spot_fee" jdbcType="DECIMAL" property="spotFee" />
    <result column="contract_fee" jdbcType="DECIMAL" property="contractFee" />
    <result column="delivery_fee" jdbcType="DECIMAL" property="deliveryFee" />
    <result column="expect_yields" jdbcType="DECIMAL" property="expectYields" />
    <result column="price_step" jdbcType="DECIMAL" property="priceStep" />
    <result column="min_copy_factor" jdbcType="DECIMAL" property="minCopyFactor" />
    <result column="max_copy_factor" jdbcType="DECIMAL" property="maxCopyFactor" />
    <result column="max_amount_per_price" jdbcType="INTEGER" property="maxAmountPerPrice" />
    <result column="bids_basis_price" jdbcType="DECIMAL" property="bidsBasisPrice" />
    <result column="asks_basis_price" jdbcType="DECIMAL" property="asksBasisPrice" />
    <result column="bids_max_amount" jdbcType="INTEGER" property="bidsMaxAmount" />
    <result column="asks_max_amount" jdbcType="INTEGER" property="asksMaxAmount" />
    <result column="long_max_amount" jdbcType="DECIMAL" property="longMaxAmount" />
    <result column="short_max_amount" jdbcType="DECIMAL" property="shortMaxAmount" />
    <result column="max_long_position" jdbcType="DECIMAL" property="maxLongPosition" />
    <result column="max_short_position" jdbcType="DECIMAL" property="maxShortPosition" />
    <result column="contract_margin_reserve" jdbcType="DECIMAL" property="contractMarginReserve" />
    <result column="spot_coin_reserve" jdbcType="DECIMAL" property="spotCoinReserve" />
    <result column="spot_balance_reserve" jdbcType="DECIMAL" property="spotBalanceReserve" />
  </resultMap>
  <sql id="Base_Column_List">
    id, symbol, contract_type, place_order_interval, spot_fee, contract_fee, delivery_fee, 
    expect_yields, price_step, min_copy_factor, max_copy_factor, max_amount_per_price, 
    bids_basis_price, asks_basis_price, bids_max_amount, asks_max_amount, long_max_amount, 
    short_max_amount, max_long_position, max_short_position, contract_margin_reserve, 
    spot_coin_reserve, spot_balance_reserve
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from strategy_order_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from strategy_order_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huobi.quantification.entity.StrategyOrderConfig">
    insert into strategy_order_config (id, symbol, contract_type, 
      place_order_interval, spot_fee, contract_fee, 
      delivery_fee, expect_yields, price_step, 
      min_copy_factor, max_copy_factor, max_amount_per_price, 
      bids_basis_price, asks_basis_price, bids_max_amount, 
      asks_max_amount, long_max_amount, short_max_amount, 
      max_long_position, max_short_position, contract_margin_reserve, 
      spot_coin_reserve, spot_balance_reserve)
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{contractType,jdbcType=VARCHAR}, 
      #{placeOrderInterval,jdbcType=INTEGER}, #{spotFee,jdbcType=DECIMAL}, #{contractFee,jdbcType=DECIMAL}, 
      #{deliveryFee,jdbcType=DECIMAL}, #{expectYields,jdbcType=DECIMAL}, #{priceStep,jdbcType=DECIMAL}, 
      #{minCopyFactor,jdbcType=DECIMAL}, #{maxCopyFactor,jdbcType=DECIMAL}, #{maxAmountPerPrice,jdbcType=INTEGER}, 
      #{bidsBasisPrice,jdbcType=DECIMAL}, #{asksBasisPrice,jdbcType=DECIMAL}, #{bidsMaxAmount,jdbcType=INTEGER}, 
      #{asksMaxAmount,jdbcType=INTEGER}, #{longMaxAmount,jdbcType=DECIMAL}, #{shortMaxAmount,jdbcType=DECIMAL}, 
      #{maxLongPosition,jdbcType=DECIMAL}, #{maxShortPosition,jdbcType=DECIMAL}, #{contractMarginReserve,jdbcType=DECIMAL}, 
      #{spotCoinReserve,jdbcType=DECIMAL}, #{spotBalanceReserve,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.huobi.quantification.entity.StrategyOrderConfig">
    insert into strategy_order_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="contractType != null">
        contract_type,
      </if>
      <if test="placeOrderInterval != null">
        place_order_interval,
      </if>
      <if test="spotFee != null">
        spot_fee,
      </if>
      <if test="contractFee != null">
        contract_fee,
      </if>
      <if test="deliveryFee != null">
        delivery_fee,
      </if>
      <if test="expectYields != null">
        expect_yields,
      </if>
      <if test="priceStep != null">
        price_step,
      </if>
      <if test="minCopyFactor != null">
        min_copy_factor,
      </if>
      <if test="maxCopyFactor != null">
        max_copy_factor,
      </if>
      <if test="maxAmountPerPrice != null">
        max_amount_per_price,
      </if>
      <if test="bidsBasisPrice != null">
        bids_basis_price,
      </if>
      <if test="asksBasisPrice != null">
        asks_basis_price,
      </if>
      <if test="bidsMaxAmount != null">
        bids_max_amount,
      </if>
      <if test="asksMaxAmount != null">
        asks_max_amount,
      </if>
      <if test="longMaxAmount != null">
        long_max_amount,
      </if>
      <if test="shortMaxAmount != null">
        short_max_amount,
      </if>
      <if test="maxLongPosition != null">
        max_long_position,
      </if>
      <if test="maxShortPosition != null">
        max_short_position,
      </if>
      <if test="contractMarginReserve != null">
        contract_margin_reserve,
      </if>
      <if test="spotCoinReserve != null">
        spot_coin_reserve,
      </if>
      <if test="spotBalanceReserve != null">
        spot_balance_reserve,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null">
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="placeOrderInterval != null">
        #{placeOrderInterval,jdbcType=INTEGER},
      </if>
      <if test="spotFee != null">
        #{spotFee,jdbcType=DECIMAL},
      </if>
      <if test="contractFee != null">
        #{contractFee,jdbcType=DECIMAL},
      </if>
      <if test="deliveryFee != null">
        #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="expectYields != null">
        #{expectYields,jdbcType=DECIMAL},
      </if>
      <if test="priceStep != null">
        #{priceStep,jdbcType=DECIMAL},
      </if>
      <if test="minCopyFactor != null">
        #{minCopyFactor,jdbcType=DECIMAL},
      </if>
      <if test="maxCopyFactor != null">
        #{maxCopyFactor,jdbcType=DECIMAL},
      </if>
      <if test="maxAmountPerPrice != null">
        #{maxAmountPerPrice,jdbcType=INTEGER},
      </if>
      <if test="bidsBasisPrice != null">
        #{bidsBasisPrice,jdbcType=DECIMAL},
      </if>
      <if test="asksBasisPrice != null">
        #{asksBasisPrice,jdbcType=DECIMAL},
      </if>
      <if test="bidsMaxAmount != null">
        #{bidsMaxAmount,jdbcType=INTEGER},
      </if>
      <if test="asksMaxAmount != null">
        #{asksMaxAmount,jdbcType=INTEGER},
      </if>
      <if test="longMaxAmount != null">
        #{longMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shortMaxAmount != null">
        #{shortMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="maxLongPosition != null">
        #{maxLongPosition,jdbcType=DECIMAL},
      </if>
      <if test="maxShortPosition != null">
        #{maxShortPosition,jdbcType=DECIMAL},
      </if>
      <if test="contractMarginReserve != null">
        #{contractMarginReserve,jdbcType=DECIMAL},
      </if>
      <if test="spotCoinReserve != null">
        #{spotCoinReserve,jdbcType=DECIMAL},
      </if>
      <if test="spotBalanceReserve != null">
        #{spotBalanceReserve,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huobi.quantification.entity.StrategyOrderConfig">
    update strategy_order_config
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null">
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="placeOrderInterval != null">
        place_order_interval = #{placeOrderInterval,jdbcType=INTEGER},
      </if>
      <if test="spotFee != null">
        spot_fee = #{spotFee,jdbcType=DECIMAL},
      </if>
      <if test="contractFee != null">
        contract_fee = #{contractFee,jdbcType=DECIMAL},
      </if>
      <if test="deliveryFee != null">
        delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="expectYields != null">
        expect_yields = #{expectYields,jdbcType=DECIMAL},
      </if>
      <if test="priceStep != null">
        price_step = #{priceStep,jdbcType=DECIMAL},
      </if>
      <if test="minCopyFactor != null">
        min_copy_factor = #{minCopyFactor,jdbcType=DECIMAL},
      </if>
      <if test="maxCopyFactor != null">
        max_copy_factor = #{maxCopyFactor,jdbcType=DECIMAL},
      </if>
      <if test="maxAmountPerPrice != null">
        max_amount_per_price = #{maxAmountPerPrice,jdbcType=INTEGER},
      </if>
      <if test="bidsBasisPrice != null">
        bids_basis_price = #{bidsBasisPrice,jdbcType=DECIMAL},
      </if>
      <if test="asksBasisPrice != null">
        asks_basis_price = #{asksBasisPrice,jdbcType=DECIMAL},
      </if>
      <if test="bidsMaxAmount != null">
        bids_max_amount = #{bidsMaxAmount,jdbcType=INTEGER},
      </if>
      <if test="asksMaxAmount != null">
        asks_max_amount = #{asksMaxAmount,jdbcType=INTEGER},
      </if>
      <if test="longMaxAmount != null">
        long_max_amount = #{longMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shortMaxAmount != null">
        short_max_amount = #{shortMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="maxLongPosition != null">
        max_long_position = #{maxLongPosition,jdbcType=DECIMAL},
      </if>
      <if test="maxShortPosition != null">
        max_short_position = #{maxShortPosition,jdbcType=DECIMAL},
      </if>
      <if test="contractMarginReserve != null">
        contract_margin_reserve = #{contractMarginReserve,jdbcType=DECIMAL},
      </if>
      <if test="spotCoinReserve != null">
        spot_coin_reserve = #{spotCoinReserve,jdbcType=DECIMAL},
      </if>
      <if test="spotBalanceReserve != null">
        spot_balance_reserve = #{spotBalanceReserve,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.StrategyOrderConfig">
    update strategy_order_config
    set symbol = #{symbol,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=VARCHAR},
      place_order_interval = #{placeOrderInterval,jdbcType=INTEGER},
      spot_fee = #{spotFee,jdbcType=DECIMAL},
      contract_fee = #{contractFee,jdbcType=DECIMAL},
      delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      expect_yields = #{expectYields,jdbcType=DECIMAL},
      price_step = #{priceStep,jdbcType=DECIMAL},
      min_copy_factor = #{minCopyFactor,jdbcType=DECIMAL},
      max_copy_factor = #{maxCopyFactor,jdbcType=DECIMAL},
      max_amount_per_price = #{maxAmountPerPrice,jdbcType=INTEGER},
      bids_basis_price = #{bidsBasisPrice,jdbcType=DECIMAL},
      asks_basis_price = #{asksBasisPrice,jdbcType=DECIMAL},
      bids_max_amount = #{bidsMaxAmount,jdbcType=INTEGER},
      asks_max_amount = #{asksMaxAmount,jdbcType=INTEGER},
      long_max_amount = #{longMaxAmount,jdbcType=DECIMAL},
      short_max_amount = #{shortMaxAmount,jdbcType=DECIMAL},
      max_long_position = #{maxLongPosition,jdbcType=DECIMAL},
      max_short_position = #{maxShortPosition,jdbcType=DECIMAL},
      contract_margin_reserve = #{contractMarginReserve,jdbcType=DECIMAL},
      spot_coin_reserve = #{spotCoinReserve,jdbcType=DECIMAL},
      spot_balance_reserve = #{spotBalanceReserve,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>