<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.StrategyInstanceHistoryMapper">
    <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.StrategyInstanceHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="strategy_name" jdbcType="VARCHAR" property="strategyName"/>
        <result column="instance_id" jdbcType="BIGINT" property="instanceId"/>
        <result column="base_coin" jdbcType="VARCHAR" property="baseCoin"/>
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode"/>
        <result column="instance_startup_time" jdbcType="TIMESTAMP" property="instanceStartupTime"/>
        <result column="instance_stop_time" jdbcType="TIMESTAMP" property="instanceStopTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, strategy_name, instance_id, base_coin, contract_code, instance_startup_time, 
    instance_stop_time, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from strategy_instance_history
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from strategy_instance_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.huobi.quantification.entity.StrategyInstanceHistory">
    insert into strategy_instance_history (id, strategy_name, instance_id, 
      base_coin, contract_code, instance_startup_time, 
      instance_stop_time, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{strategyName,jdbcType=VARCHAR}, #{instanceId,jdbcType=BIGINT}, 
      #{baseCoin,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, #{instanceStartupTime,jdbcType=TIMESTAMP}, 
      #{instanceStopTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.huobi.quantification.entity.StrategyInstanceHistory">
        insert into strategy_instance_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="strategyName != null">
                strategy_name,
            </if>
            <if test="instanceId != null">
                instance_id,
            </if>
            <if test="baseCoin != null">
                base_coin,
            </if>
            <if test="contractCode != null">
                contract_code,
            </if>
            <if test="instanceStartupTime != null">
                instance_startup_time,
            </if>
            <if test="instanceStopTime != null">
                instance_stop_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="strategyName != null">
                #{strategyName,jdbcType=VARCHAR},
            </if>
            <if test="instanceId != null">
                #{instanceId,jdbcType=BIGINT},
            </if>
            <if test="baseCoin != null">
                #{baseCoin,jdbcType=VARCHAR},
            </if>
            <if test="contractCode != null">
                #{contractCode,jdbcType=VARCHAR},
            </if>
            <if test="instanceStartupTime != null">
                #{instanceStartupTime,jdbcType=TIMESTAMP},
            </if>
            <if test="instanceStopTime != null">
                #{instanceStopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huobi.quantification.entity.StrategyInstanceHistory">
        update strategy_instance_history
        <set>
            <if test="strategyName != null">
                strategy_name = #{strategyName,jdbcType=VARCHAR},
            </if>
            <if test="instanceId != null">
                instance_id = #{instanceId,jdbcType=BIGINT},
            </if>
            <if test="baseCoin != null">
                base_coin = #{baseCoin,jdbcType=VARCHAR},
            </if>
            <if test="contractCode != null">
                contract_code = #{contractCode,jdbcType=VARCHAR},
            </if>
            <if test="instanceStartupTime != null">
                instance_startup_time = #{instanceStartupTime,jdbcType=TIMESTAMP},
            </if>
            <if test="instanceStopTime != null">
                instance_stop_time = #{instanceStopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.StrategyInstanceHistory">
    update strategy_instance_history
    set strategy_name = #{strategyName,jdbcType=VARCHAR},
      instance_id = #{instanceId,jdbcType=BIGINT},
      base_coin = #{baseCoin,jdbcType=VARCHAR},
      contract_code = #{contractCode,jdbcType=VARCHAR},
      instance_startup_time = #{instanceStartupTime,jdbcType=TIMESTAMP},
      instance_stop_time = #{instanceStopTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByInstanceId">
        update strategy_instance_history
            set
              instance_stop_time = #{instanceStopTime,jdbcType=TIMESTAMP},
              update_time = #{updateTime,jdbcType=TIMESTAMP}
            where instance_id = #{instanceId,jdbcType=BIGINT}
    </update>

</mapper>