<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.SysDictMapper">
    <resultMap id="BaseResultMap" type="com.huobi.quantification.entity.SysDict">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sys_key" jdbcType="VARCHAR" property="sysKey"/>
        <result column="sys_name" jdbcType="VARCHAR" property="sysName"/>
        <result column="sys_value" jdbcType="VARCHAR" property="sysValue"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="order_no" jdbcType="BIGINT" property="orderNo"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, sys_key, sys_name, sys_value, parent_id, order_no, status, remark
  </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_dict
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.huobi.quantification.entity.SysDict">
    insert into sys_dict (id, sys_key, sys_name, 
      sys_value, parent_id, order_no, 
      status, remark)
    values (#{id,jdbcType=BIGINT}, #{sysKey,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR}, 
      #{sysValue,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{orderNo,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.entity.SysDict">
    update sys_dict
    set sys_key = #{sysKey,jdbcType=VARCHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      sys_value = #{sysValue,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, sys_key, sys_name, sys_value, parent_id, order_no, status, remark
    from sys_dict
    where id = #{id,jdbcType=BIGINT}
  </select>


    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict
        <where>
            <if test="sysKey != null">
                and sys_key = #{sysKey,jdbcType=VARCHAR}
            </if>
            <if test="sysName != null">
                and sys_name = #{sysName,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>