<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huobi.quantification.dao.TOrderSequenceMapper">
  <resultMap id="BaseResultMap" type="com.huobi.quantification.TOrderSequence">
    <id column="f_id" jdbcType="BIGINT" property="fId" />
    <result column="f_version" jdbcType="BIGINT" property="fVersion" />
    <result column="f_created_at" jdbcType="BIGINT" property="fCreatedAt" />
    <result column="f_updated_at" jdbcType="BIGINT" property="fUpdatedAt" />
    <result column="f_type" jdbcType="TINYINT" property="fType" />
    <result column="f_order_id" jdbcType="BIGINT" property="fOrderId" />
    <result column="f_symbol" jdbcType="VARCHAR" property="fSymbol" />
    <result column="f_amount" jdbcType="DECIMAL" property="fAmount" />
    <result column="f_price" jdbcType="DECIMAL" property="fPrice" />
    <result column="f_circuit_rate" jdbcType="REAL" property="fCircuitRate" />
    <result column="f_order_count" jdbcType="INTEGER" property="fOrderCount" />
    <result column="f_retry" jdbcType="INTEGER" property="fRetry" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_order_sequence
    where f_id = #{fId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huobi.quantification.TOrderSequence">
    insert into t_order_sequence (f_id, f_version, f_created_at, 
      f_updated_at, f_type, f_order_id, 
      f_symbol, f_amount, f_price, 
      f_circuit_rate, f_order_count, f_retry
      )
    values (#{fId,jdbcType=BIGINT}, #{fVersion,jdbcType=BIGINT}, #{fCreatedAt,jdbcType=BIGINT}, 
      #{fUpdatedAt,jdbcType=BIGINT}, #{fType,jdbcType=TINYINT}, #{fOrderId,jdbcType=BIGINT}, 
      #{fSymbol,jdbcType=VARCHAR}, #{fAmount,jdbcType=DECIMAL}, #{fPrice,jdbcType=DECIMAL}, 
      #{fCircuitRate,jdbcType=REAL}, #{fOrderCount,jdbcType=INTEGER}, #{fRetry,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huobi.quantification.TOrderSequence">
    update t_order_sequence
    set f_version = #{fVersion,jdbcType=BIGINT},
      f_created_at = #{fCreatedAt,jdbcType=BIGINT},
      f_updated_at = #{fUpdatedAt,jdbcType=BIGINT},
      f_type = #{fType,jdbcType=TINYINT},
      f_order_id = #{fOrderId,jdbcType=BIGINT},
      f_symbol = #{fSymbol,jdbcType=VARCHAR},
      f_amount = #{fAmount,jdbcType=DECIMAL},
      f_price = #{fPrice,jdbcType=DECIMAL},
      f_circuit_rate = #{fCircuitRate,jdbcType=REAL},
      f_order_count = #{fOrderCount,jdbcType=INTEGER},
      f_retry = #{fRetry,jdbcType=INTEGER}
    where f_id = #{fId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select f_id, f_version, f_created_at, f_updated_at, f_type, f_order_id, f_symbol, 
    f_amount, f_price, f_circuit_rate, f_order_count, f_retry
    from t_order_sequence
    where f_id = #{fId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select f_id, f_version, f_created_at, f_updated_at, f_type, f_order_id, f_symbol, 
    f_amount, f_price, f_circuit_rate, f_order_count, f_retry
    from t_order_sequence
  </select>
</mapper>