<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>用户中心</a></li>
			<li class="active"><strong>火币费率配置菜单</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="feeCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>任务查询</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<div class="form-group">
						 	<label class="col-sm-2 control-label">交易对：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.symbol'>
							</div>
							<label class="col-sm-2 control-label">合约类型：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.contractType'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click='query()'>查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>配置列表</h5>
						<!--<div ibox-tools="" class="ng-scope"></div>-->
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="feeGrid" ui-grid-pagination ui-grid-resize-columns></div>
					</div>
				</div>
				<div style="height: 50px"></div>
			</div>
		</div>
	</form>
	<!-- edit role -->
	<form class="form-horizontal" id="form3" name="horizontalEdit" novalidate>
		<div id="editRoleModal" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 900px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">修改配置</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label">币币交易手续费率：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.spotFee' name="spotFee" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.spotFee.$dirty" >
									<span ng-show="horizontalEdit.spotFee.$error.required">费率不能为空</span>
									<span ng-show="horizontalEdit.spotFee.$error.number">非法的费率</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">合约交易手续费率：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.contractFee' name="contractFee" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.contractFee.$dirty" >
									<span ng-show="horizontalEdit.contractFee.$error.required">费率不能为空</span>
									<span ng-show="horizontalEdit.contractFee.$error.number">非法的费率</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-3 control-label">合约交割手续费率：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.deliveryFee' name="deliveryFee" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.deliveryFee.$dirty" >
									<span ng-show="horizontalEdit.deliveryFee.$error.required">费率不能为空</span>
									<span ng-show="horizontalEdit.deliveryFee.$error.number">非法的费率</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='submitNewInfo()'
									id="btnSubmit" ng-disabled="horizontalEdit.$invalid || submitting">提交</button>
								<button class="btn btn-primary8" type="button" ng-click='cancel()'>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="col-sm-6">
		<button class="btn btn-primary btn-mr20" type="button" ng-click='tzsumbit()'
				id="tz" ng-disabled="submitting">tz</button>
	</div>
	<!-- edit role -->
</div>