<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>用户中心</a></li>
			<li class="active"><strong>火币期货账号-详情</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="futureAccountDetailCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>账号信息</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="futureAccountGrid" ui-grid-selection ui-grid-resize-columns style="height: 80px"></div>
					</div>
				</div>
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>记录</h5>
						<!--<div ibox-tools="" class="ng-scope"></div>-->
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="futureAccountDetailGrid" ui-grid-selection ui-grid-resize-columns style="height: 400px"></div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal" name="horizontal">
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabs-container tab_other">
						<uib-tabset>
							<uib-tab>
								<uib-tab-heading>
                                     <span class="block m-t-xs">
                                        <i class="fa fa-laptop"></i>
                                        <strong class="font-bold">持有仓位</strong>
                                     </span>
                                </uib-tab-heading>
								<div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">品种：</label>
                                        <div class="col-sm-2">
                                            <select class="form-control" ng-model="positionInfo.baseCoin" name="baseCoin">
                                                <option value="BTC" >BTC</option>
                                                <option value="ETH" >ETH</option>
                                                <option value="LTC" >LTC</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2"></label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-primary6 btn-mr20" type="button" ng-click="queryPosition()">查询</button>
                                        </div>
                                    </div>
									<div class="gridStyle" style="height: 200px;" ui-grid="positionGrid" ui-grid-resize-columns/>
								</div>
							</uib-tab>

							<uib-tab>
								<uib-tab-heading>
                    		<span class="block m-t-xs">
                             	<i class="fa fa-desktop"></i>
                                <strong class="font-bold">订单</strong>
                            </span>
								</uib-tab-heading>
								<div class="ibox-content">
									<div class="form-group">
										<label class="col-sm-1 control-label">品种：</label>
										<div class="col-sm-2">
											<select class="form-control" ng-model="orderInfo.baseCoin" name="baseCoin">
												<option value="btc" >BTC</option>
												<option value="eth" >ETH</option>
												<option value="ltc" >LTC</option>
											</select>
										</div>
										<label class="col-sm-1 control-label">合约代码：</label>
										<div class="col-sm-2">
											<input type="text" class="form-control"
												   ng-model='orderInfo.contractCode' name="contractCode">
										</div>
										<label class="col-sm-1 control-label">买卖方向：</label>
										<div class="col-sm-2">
											<select class="form-control" ng-model="orderInfo.side" name="side">
												<option>全部</option>
												<option value="1" >买入</option>
												<option value="2" >卖出</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label">订单类型：</label>
										<div class="col-sm-2">
											<select class="form-control" name="orderType" ng-model="parentValue">
												<option ng-value="item.value" ng-repeat="item in firstClass">{{item.key}}</option>
											</select>
										</div>
										<label class="col-sm-1 control-label">状态：</label>
										<div class="col-sm-2">
											<select class="form-control" name="status">
												<option ng-repeat="item in secondClass[parentValue]" ng-value="item.value">{{item.key}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label">开平方向：</label>
										<div class="col-sm-2">
											<select class="form-control" ng-model="orderInfo.offset" name="offset">
												<option>全部</option>
												<option value="1" >开仓</option>
												<option value="2" >平仓</option>
											</select>
										</div>
									</div>
									<div class="form-group">
                                        <label class="col-sm-1 control-label"></label>
										<div class="col-sm-2">
											<select class="form-control" ng-model="orderInfo.idType" name="idType">
												<option value="0">内部订单号</option>
												<option value="1" >交易所订单号</option>
												<option value="2" >关联订单号</option>
											</select>
										</div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control"
                                                   ng-model='orderInfo.id' name="id">
                                        </div>
									</div>
									<div class="form-group">
										<label class="col-sm-2"></label>
										<div class="col-sm-4">
											<button class="btn btn-primary5" type="button" ng-click='cacelBatch()'>全部撤单</button>
											<button class="btn btn-primary3 btn-mr20" type="button" ng-click="queryOrder()">查询</button>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="gridStyle" style="height: 200px;" ui-grid="orderGrid" ui-grid-resize-columns/>
								</div>
							</uib-tab>

							<uib-tab>
								<uib-tab-heading>
                    		<span class="block m-t-xs">
                             	<i class="fa fa-desktop"></i>
                                <strong class="font-bold">充提</strong>
                            </span>
								</uib-tab-heading>
								<div class="ibox-content">
									<div class="form-group">
										<label class="col-sm-1 control-label">业务类型：</label>
										<div class="col-sm-2">
											<select class="form-control" ng-model="financeInfo.moneyType" name="moneyType">
												<option value="1" >充值</option>
												<option value="2" >提现</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label">币种：</label>
										<div class="col-sm-2">
											<input type="text" class="form-control"
												   ng-model='financeInfo.coinType' name="coinType"required>
										</div>
										<div class="req_mesg" ng-show="horizontalEdit.coinType.$dirty" >
											<span ng-show="horizontalEdit.coinType.$error.required">币类不能为空</span>
										</div>
										<label class="col-sm-1 control-label">金额：</label>
										<div class="col-sm-2">
											<input type="number" class="form-control"
												   ng-model='financeInfo.transferAmount' name="transferAmount" required/>
										</div>
										<div class="req_mesg" ng-show="horizontalEdit.transferAmount.$dirty" >
											<span ng-show="horizontalEdit.transferAmount.$error.required">金额不能为空</span>
											<span ng-show="horizontalEdit.transferAmount.$error.number">非法的金额</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label"></label>
										<div class="col-sm-4">
											<button class="btn btn-primary btn-mr20" type="button" ng-click='submitFinanceInfo()'
													id="submitFinanceInfo" ng-disabled="horizontalEdit.$invalid || submitting">提交</button>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="gridStyle" style="height: 200px;" ui-grid="serviceQuotaList" ui-grid-resize-columns/>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>