<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>用户中心</a></li>
			<li class="active"><strong>火币对冲模块配置菜单</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="hedgeCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>任务查询</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<div class="form-group">
						 	<label class="col-sm-2 control-label">交易对：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.symbol'>
							</div>
							<label class="col-sm-2 control-label">合约类型：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.contractType'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click='query()'>查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>配置列表</h5>
						<!--<div ibox-tools="" class="ng-scope"></div>-->
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="hedgeGrid" ui-grid-pagination ui-grid-resize-columns></div>
					</div>
				</div>
				<div style="height: 50px"></div>
			</div>
		</div>
	</form>
	<!-- edit role -->
	<form class="form-horizontal" id="form3" name="horizontalEdit" novalidate>
		<div id="editRoleModal" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 1400px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">修改配置</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>对冲间隔时间：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.hedgeInterval' name="hedgeInterval" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.hedgeInterval.$dirty" >
									<span ng-show="horizontalEdit.hedgeInterval.$error.required">时间不能为空</span>
									<span ng-show="horizontalEdit.hedgeInterval.$error.number">非法的时间</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>交割对冲单间隔时间：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.deliveryInterval' name="deliveryInterval" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.deliveryInterval.$dirty" >
									<span ng-show="horizontalEdit.deliveryInterval.$error.required">时间不能为空</span>
									<span ng-show="horizontalEdit.deliveryInterval.$error.number">非法的时间</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>对冲买单滑点：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.buySlippage' name="buySlippage" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.buySlippage.$dirty" >
									<span ng-show="horizontalEdit.buySlippage.$error.required">滑点不能为空</span>
									<span ng-show="horizontalEdit.buySlippage.$error.number">非法的滑点</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>对冲卖单滑点：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.sellSlippage' name="sellSlippage" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.sellSlippage.$dirty" >
									<span ng-show="horizontalEdit.sellSlippage.$error.required">滑点不能为空</span>
									<span ng-show="horizontalEdit.sellSlippage.$error.number">非法的滑点</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>开始交割对冲时间：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.stopTime1' name="stopTime1" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>结束交割对冲时间：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.stopTime2' name="stopTime2" required>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>交割买单滑点：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.deliveryBuySlippage' name="deliveryBuySlippage" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.deliveryBuySlippage.$dirty" >
									<span ng-show="horizontalEdit.deliveryBuySlippage.$error.required">滑点不能为空</span>
									<span ng-show="horizontalEdit.deliveryBuySlippage.$error.number">非法的滑点</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>交割卖单滑点：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.deliverySellSlippage' name="deliverySellSlippage" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.deliverySellSlippage.$dirty" >
									<span ng-show="horizontalEdit.deliverySellSlippage.$error.required">滑点不能为空</span>
									<span ng-show="horizontalEdit.deliverySellSlippage.$error.number">非法的滑点</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='submitNewInfo()'
									id="btnSubmit" ng-disabled="horizontalEdit.$invalid || submitting">提交</button>
								<button class="btn btn-primary8" type="button" ng-click='cancel()'>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- edit role -->
</div>