<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>用户中心</a></li>
			<li class="active"><strong>火币摆单模块配置菜单</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="orderCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>任务查询</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<div class="form-group">
						 	<label class="col-sm-2 control-label">交易对：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.symbol'>
							</div>
							<label class="col-sm-2 control-label">合约类型：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.contractType'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click='query()'>查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>配置列表</h5>
						<!--<div ibox-tools="" class="ng-scope"></div>-->
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="orderGrid" ui-grid-pagination ui-grid-resize-columns></div>
					</div>
				</div>
				<div style="height: 50px"></div>
			</div>
		</div>
	</form>
	<!-- edit role -->
	<form class="form-horizontal" id="form3" name="horizontalEdit" novalidate>
		<div id="editRoleModal" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 1400px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">修改配置</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>摆单间隔时间：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.placeOrderInterval' name="placeOrderInterval" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.placeOrderInterval.$dirty" >
									<span ng-show="horizontalEdit.placeOrderInterval.$error.required">时间不能为空</span>
									<span ng-show="horizontalEdit.placeOrderInterval.$error.number">非法的时间</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>期望收益率：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.expectYields' name="expectYields" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.expectYields.$dirty" >
									<span ng-show="horizontalEdit.expectYields.$error.required">收益率不能为空</span>
									<span ng-show="horizontalEdit.expectYields.$error.number">非法的收益率</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>合并深度价格：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.priceStep' name="priceStep" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.priceStep.$dirty" >
									<span ng-show="horizontalEdit.priceStep.$error.required">价格不能为空</span>
									<span ng-show="horizontalEdit.priceStep.$error.number">非法的价格</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>单价格最大委托数量：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.maxAmountPerPrice' name="maxAmountPerPrice" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.maxAmountPerPrice.$dirty" >
									<span ng-show="horizontalEdit.maxAmountPerPrice.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.maxAmountPerPrice.$error.number">非法的数量</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>拷贝系数-下限：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.minCopyFactor' name="minCopyFactor" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.minCopyFactor.$dirty" >
									<span ng-show="horizontalEdit.minCopyFactor.$error.required">系数不能为空</span>
									<span ng-show="horizontalEdit.minCopyFactor.$error.number">非法的系数</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>拷贝系数-上限：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.maxCopyFactor' name="maxCopyFactor" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.maxCopyFactor.$dirty" >
									<span ng-show="horizontalEdit.maxCopyFactor.$error.required">系数不能为空</span>
									<span ng-show="horizontalEdit.maxCopyFactor.$error.number">非法的系数</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>买单基准价格：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.bidsBasisPrice' name="bidsBasisPrice" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.bidsBasisPrice.$dirty" >
									<span ng-show="horizontalEdit.bidsBasisPrice.$error.required">价格不能为空</span>
									<span ng-show="horizontalEdit.bidsBasisPrice.$error.number">非法的价格</span>
							</div>
							 <label class="col-sm-2 control-label"><i class="red_req"></i>卖单基准价格：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.asksBasisPrice' name="asksBasisPrice" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.asksBasisPrice.$dirty" >
									<span ng-show="horizontalEdit.asksBasisPrice.$error.required">价格不能为空</span>
									<span ng-show="horizontalEdit.asksBasisPrice.$error.number">非法的价格</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>买单挂单数量上限：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.bidsMaxAmount' name="bidsMaxAmount" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.bidsMaxAmount.$dirty" >
									<span ng-show="horizontalEdit.bidsMaxAmount.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.bidsMaxAmount.$error.number">非法的数量</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>卖单挂单数量上限：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.asksMaxAmount' name="asksMaxAmount" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.asksMaxAmount.$dirty" >
									<span ng-show="horizontalEdit.asksMaxAmount.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.asksMaxAmount.$error.number">非法的数量</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>多仓数量最大限制：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.longMaxAmount' name="longMaxAmount" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.longMaxAmount.$dirty" >
									<span ng-show="horizontalEdit.longMaxAmount.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.longMaxAmount.$error.number">非法的数量</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>空仓数量最大限制：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.shortMaxAmount' name="shortMaxAmount" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.shortMaxAmount.$dirty" >
									<span ng-show="horizontalEdit.shortMaxAmount.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.shortMaxAmount.$error.number">非法的数量</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>多仓持仓总量上限：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.maxLongPosition' name="maxLongPosition" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.maxLongPosition.$dirty" >
									<span ng-show="horizontalEdit.maxLongPosition.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.maxLongPosition.$error.number">非法的数量</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>空仓持仓总量上限：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.maxShortPosition' name="maxShortPosition" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.maxShortPosition.$dirty" >
									<span ng-show="horizontalEdit.maxShortPosition.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.maxShortPosition.$error.number">非法的数量</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>合约账户保留保证金：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.contractMarginReserve' name="contractMarginReserve" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.contractMarginReserve.$dirty" >
									<span ng-show="horizontalEdit.contractMarginReserve.$error.required">保证金不能为空</span>
									<span ng-show="horizontalEdit.contractMarginReserve.$error.number">非法的保证金</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>币币账户保留币量：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.spotCoinReserve' name="spotCoinReserve" required/>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.spotCoinReserve.$dirty" >
									<span ng-show="horizontalEdit.spotCoinReserve.$error.required">数量不能为空</span>
									<span ng-show="horizontalEdit.spotCoinReserve.$error.number">非法的数量</span>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>币币账户保留资金：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control"
									ng-model='newInfo.spotBalanceReserve' name="spotBalanceReserve" required>
							</div>
							<div class="req_mesg" ng-show="horizontalEdit.spotBalanceReserve.$dirty" >
									<span ng-show="horizontalEdit.spotBalanceReserve.$error.required">资金不能为空</span>
									<span ng-show="horizontalEdit.spotBalanceReserve.$error.number">非法的资金</span>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>临近交割停止下开仓单时间：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.stopTime1' name="stopTime1" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>停止摆盘开始时间：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.stopTime2' name="stopTime2" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='submitNewInfo()'
									id="btnSubmit" ng-disabled="horizontalEdit.$invalid || submitting">提交</button>
								<button class="btn btn-primary8" type="button" ng-click='cancel()'>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- edit role -->
</div>