<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>用户中心</a></li>
			<li class="active"><strong>火币摆单模块配置菜单</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="orderCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<!-- <div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>任务查询</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<div class="form-group">
						 	<label class="col-sm-2 control-label">任务描述</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.jobDesc'>
							</div>
							<label class="col-sm-2 control-label">交易所id：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.exchangeId'>
							</div>
							<label class="col-sm-2 control-label">状态：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model='baseInfo.status'
									ng-options="x.value as x.text for x in statusAll">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click='query()'>查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
								<button class="btn btn-primary5" ng-show="hasPermit('spotJob.insert')" type="button" ng-click="addModal()">新增</button>
							</div>
						</div>
					</div>
				</div> -->

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>配置列表</h5>
						<!--<div ibox-tools="" class="ng-scope"></div>-->
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="orderGrid" ui-grid-pagination ui-grid-resize-columns></div>
					</div>
				</div>
				<div style="height: 50px"></div>
			</div>
		</div>
	</form>
	<!-- add role -->
	<!-- 
	<form class="form-horizontal" id="form2" name="horizontal" novalidate>
		<div id="addModal" class="modal fade"  role="dialog">
			<div class="modal-dialog" style="width: 900px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">新增任务</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req">*</i>字典Key：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.sysKey' name="sysKey" required/>
								<div class="req_mesg" ng-show="horizontal.sysKey.$dirty && horizontal.sysKey.$invalid">
									<span ng-show="horizontal.sysKey.$error.required">字典Key不能为空</span>
								</div>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req">*</i>字典名称：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.sysName' name="sysName" required>
								<div class="req_mesg" ng-show="horizontal.sysName.$dirty && horizontal.sysName.$invalid">
									<span ng-show="horizontal.sysName.$error.required">字典名称不能为空</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req">*</i>字典值：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" name="sysValue" required ng-model='newInfo.sysValue'>
								<div class="req_mesg" ng-show="horizontal.sysValue.$dirty && horizontal.sysValue.$invalid">
									<span ng-show="horizontal.sysValue.$error.required">字典值不能为空</span>
								</div>
							</div>
							<label class="col-sm-2 control-label">上级字典Key：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model='newInfo.parentId'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">排序：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model='newInfo.orderNo'>
							</div>
							<label class="col-sm-2 control-label">状态：</label>
							<div class="col-sm-3">
								<switch class="switch" ng-model="newInfo.status" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model='newInfo.remark'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='submit()'
									id="btnSubmit" ng-disabled="horizontal.$invalid || submitting">提交</button>
									<button class="btn btn-primary8" type="button" ng-click='cancel()'
									>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form> -->
	<!-- add role -->
	<!-- edit role -->
	<form class="form-horizontal" id="form3" name="horizontalEdit" novalidate>
		<div id="editRoleModal" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 900px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">修改配置</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>摆单间隔时间：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.placeOrderInterval' name="placeOrderInterval" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>期望收益率：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.expectYields' name="expectYields" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>合并深度价格：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.priceStep' name="priceStep" required>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>单价格最大委托数量：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.maxAmountPerPrice' name="maxAmountPerPrice" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>拷贝系数-下限：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.minCopyFactor' name="minCopyFactor" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>拷贝系数-上限：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.maxCopyFactor' name="maxCopyFactor" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req"></i>买单基准价格：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.bidsBasisPrice' name="bidsBasisPrice" required>
							</div>
							 <label class="col-sm-2 control-label"><i class="red_req"></i>卖单基准价格：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.asksBasisPrice' name="asksBasisPrice" required/>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>买单挂单数量上限：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.bidsMaxAmount' name="bidsMaxAmount" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>卖单挂单数量上限：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.asksMaxAmount' name="asksMaxAmount" required>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>多仓数量最大限制：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.longMaxAmount' name="longMaxAmount" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>空仓数量最大限制：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.shortMaxAmount' name="shortMaxAmount" required>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>多仓持仓总量上限：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.maxLongPosition' name="maxLongPosition" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>空仓持仓总量上限：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.maxShortPosition' name="maxShortPosition" required>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>合约账户保留保证金：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.contractMarginReserve' name="contractMarginReserve" required/>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>币币账户保留币量：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.spotCoinReserve' name="spotCoinReserve" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>币币账户保留资金：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.spotBalanceReserve' name="spotBalanceReserve" required>
							</div>
						</div>
						<div class="form-group">
							 <label class="col-sm-2 control-label"><i class="red_req"></i>临近交割停止下开仓单时间：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.stopTime1' name="stopTime1" required/>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req"></i>停止摆盘开始时间：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									ng-model='newInfo.stopTime2' name="stopTime2" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='submitNewInfo()'
									id="btnSubmit" ng-disabled="submitting">提交</button>
								<button class="btn btn-primary8" type="button" ng-click='cancel()'>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- edit role -->
</div>