<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>用户中心</a></li>
			<li class="active"><strong>火币现货账号密钥管理菜单</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="spotSecretCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>密钥查询</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<div class="form-group">
						 	<label class="col-sm-2 control-label">账号id：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='baseInfo.AccountSourceId'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click='query()'>查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
								<button class="btn btn-primary5" ng-show="hasPermit('proxy.insert')" type="button" ng-click="addModal()">新增</button>
							</div>
						</div>
					</div>
				</div> 

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>密钥列表</h5>
						<!--<div ibox-tools="" class="ng-scope"></div>-->
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="spotSecretGrid" ui-grid-pagination ui-grid-resize-columns></div>
					</div>
				</div>
				<div style="height: 50px"></div>
			</div>
		</div>
	</form>
	<form class="form-horizontal" id="form2" name="horizontal" novalidate>
		<div id="addModal" class="modal fade"  role="dialog">
			<div class="modal-dialog" style="width: 900px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">新增密钥</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">用户id</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='addInfo.accountSourceId'>
							</div>
							
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">accessKey</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='addInfo.accessKey'>
							</div>
							<label class="col-sm-2 control-label">secretKey</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='addInfo.secretKey'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='submit()'
									id="btnSubmit" ng-disabled="submitting">提交</button>
									<button class="btn btn-primary8" type="button" ng-click='cancel()'
									>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form> 
	
	<!-- edit role -->
	<form class="form-horizontal" id="form3" name="horizontalEdit" novalidate>
		<div id="editRoleModal" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 900px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">修改账号密钥</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">用户id</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='newInfo.accountSourceId'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">accessKey</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='newInfo.accessKey'>
							</div>
							<label class="col-sm-2 control-label">secretKey</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									ng-model='newInfo.secretKey'>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='submitNewInfo()'
									id="btnSubmit" ng-disabled="submitting">提交</button>
								<button class="btn btn-primary8" type="button" ng-click='cancel()'>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- edit role -->
</div>